.heading-bar {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background-color: rgb(0, 0, 0);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading-center {
	align-items: center;
	padding-left: 50px;
	padding-right: 50px;

}

.titleStyle {
	font-size: 30px;
	color: #ffffff;
}

.button-stuff {
	padding-right: 30px;
}
.signButtons {
	margin: 10px;
	align-items: center;
	background-color: #552583;
	text-align: center;
	text-decoration: none;
	border-radius: 5px; /* Adjust the value to control the curve */
	color: #ffffff;
	border: 2px solid #f9a01b; 
	font-size: large;


}

.heading-right {
	display: flex;
	align-items: center;
}

.icon {
	font-size: 25px;
	margin-left: 20px;
	cursor: cursor;
}

.profile {
	display: flex;
	align-items: center;
	margin-left: 10px;
}

.name {
	margin-right: 10px;
	font-size: 20px;
}