/*
------------ COLORS ------------
*/
.nav-fixed {
    position: fixed;
}

#sidebar .nav-bar-style {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 5px;

  }

  .nav-icon-style {
    color:#b51a00;
    font-size: 40px;
}

.nav-link-style {
    text-decoration: none;
    font-size: 18px;
}

#sidebar .nav-bar-style.active {
    background-color: black;
    color: red;
}

#sidebar .nav-bar-style.active i {
    color: blue;
}