/*
------------ COLORS ------------
*/

/* create a css styling that centers the content and creates a border around the content */
.centered-boxed-content {
  display: flex;
  /* justify-content: center;*/
  align-items: center;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

/* creating margin and padding for buttons */
.button-margin {
  margin: 5px;
  padding: 2px;
  font-size: 15px;
  font-weight: bold;
}

/* create a css styling that centers the content and creates a border around the content with purple fill with yellow borders */
.content-colored {
  /* display: flex; */
  /* justify-content: center;*/
  align-items: center;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #562583df;
  border-color: #FDB927;
}


